.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;

    font-size: 24px;
  }
}

.catalog__text {
  margin: 20px 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 140%;
  }

  @media (min-width: $desktop-width) {
    margin: 80px 0 30px;

    font-size: 20px;
    line-height: 150%;
  }
}

.catalog__button-red {
  margin-bottom: 20px;
  padding: 8px 9px;

  font-weight: 700;
  font-size: 8px;
  color: $color-grey-bg;
  text-transform: uppercase;

  background-color: $color-red;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding: 16px 12px;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    padding: 14px 15px;

    font-size: 18px;
  }
}

// СЛАЙДЕР ТОЛЬКО ДЛЯ МОБИЛЬНОЙ ВЕРСИИ

.catalog__container {
  position: relative;

  width: 290px;
  min-height: 240px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__list {
  padding-left: 0;

  margin-block: 0;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  background-color: $color-grey-card;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    padding: 13px 10px 36px;
  }

  /*@media (min-width: $desktop-width) {
    padding: 35px 10px 60px;
  }*/
}

.catalog__item--7 {
  padding-top: 7px;
}

.catalog__item-img {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  /*@media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }*/
}

.catalog__item-img--4 {
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.catalog__item-img--8 {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__item-text {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 9px;
  line-height: 150%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;

    font-size: 14px;
  }

  /*@media (min-width: $desktop-width) {
    margin-bottom: 40px;

    font-size: 24px;
  }*/
}

.catalog__item-text--6 {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;

    font-size: 10px;
    line-height: 150%;
  }
}

.catalog__item-text--7 {
  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.catalog__item-text--8 {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.catalog__item-button {
  margin-bottom: 0;
  padding: 11px 27px;

  font-weight: 700;
  font-size: 8px;
  color: $color-grey-bg;
  text-transform: uppercase;

  background-color: $color-red;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    padding: 13px 32px;

    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 11px 54px;

    font-size: 22px;
  }
}

// ГРИД - КОНТЕЙНЕР ТОЛЬКО ДЛЯ ШИРИН 768 И БОЛЕЕ

.catalog__grid-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.catalog__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px 36px;

  text-align: center;

  background-color: $color-grey-card;
  border-radius: 2px;

  @media (min-width: $desktop-width) {
    padding: 35px 10px 60px;

    font-size: 24px;
  }
}

.catalog__grid-item p {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 130%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.catalog__description {
  margin-top: 20px;
  margin-bottom: 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 40px;

    font-size: 18px;
    line-height: 140%;
  }

  /*@media (min-width: $desktop-width) {
    margin-top: 80px;

    font-size: 20px;
    line-height: 150%;
  }*/
}
