.footer {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    background-color: $color-grey-card;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;

  background-color: $color-grey-card;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 85px;
    padding-bottom: 85px;
    padding-left: 90px;
  }
}

.footer__item p {
  margin: 0;

  font-weight: 600;
  font-size: 9px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 28px;
  }
}

.footer__item p:first-child {
  margin-bottom: 10px;
}

.footer__item p:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.footer__item img {
  object-fit: fill;
}

.footer__map {
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: -4px;
  }
}

.footer__copyright {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}
