.form {
  padding: 71px 15px 70px;

  color: $white-basic;

  background-color: $dark;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 103px 59px;
  }
}

.form__container {
  @media (min-width: $desktop-width) {
    width: 477px;
    margin-left: auto;
  }
}

.form__legend {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;

    font-weight: 600;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form__legend--title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  font-family: $ff-alumni;
  color: $white-basic;

  @media (min-width: $tablet-width) {
    font-size: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
  }
}

.form__contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 477px;
  }
}

.form__group {
  display: grid;
  margin-bottom: 36px;

  gap: 27px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;

    gap: 30px;
    grid-template-columns: repeat(2, 205px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;

    gap: 29px;
    grid-template-columns: repeat(2, 224px);
  }
}

.form__group-item {
  position: relative;

  display: flex;
  flex-direction: column;
}

.form__input {
  width: 100%;
  margin-left: -2px;
  padding: 7px 0 3px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: $ff-roboto;
  color: $white-basic;

  background-color: $dark;
  border: 2px solid transparent;
  border-bottom-color: #74819c;

  transition: border-color 0.3s ease-in-out;

  @media (min-width: $tablet-width) {
    margin-left: -2px;
    padding: 8px 0 3px;
  }

  &::placeholder {
    padding-left: 1px;

    font-weight: 300;
    color: $white-basic;

    opacity: 0.4;
  }

  &:focus-visible::placeholder {
    color: transparent;
  }

  &:hover {
    border-bottom-color: $white-basic;
  }

  &:focus,
  &:focus-visible {
    padding-right: 4px;
    padding-left: 4px;

    border-color: $white-basic;
    outline: none;
  }

  &:active {
    padding-right: 4px;
    padding-left: 4px;

    border-color: $white-basic;
    outline: none;
  }

  &:disabled {
    opacity: 0.4;
  }

  &--invalid {
    padding-right: 4px;
    padding-left: 4px;

    border-bottom-color: $error;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

.form__message-name--invalid,
.form__message-phone--invalid {
  position: absolute;
  bottom: -23px;
  left: 0;

  color: $error;
}

.form__button {
  width: 100%;

  color: $white-basic;

  background: transparent;
  border: 2px solid $white-basic;

  @media (min-width: $tablet-width) {
    min-height: 66px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }

  &:focus,
  &:focus-visible {
    color: #103aae;

    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #000000;
    outline: none;
  }

  &:active {
    color: $dark;

    background-color: $white-basic;
    border: 2px solid $white-basic;
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);

    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);

    pointer-events: none;
  }
}
