.offers {
  padding-bottom: 40px;

  font-family: $ff-roboto;

  background-color: $white-basic;

  @media (min-width: $tablet-width) {
    padding: 45px;
    padding-top: 63px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
    padding-bottom: 100px;
  }
}

.offers__title {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-top: 38px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  font-family: $ff-alumni;
  text-align: center;
  color: $dark;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 0;

    font-size: 42px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1366px;
    margin-bottom: 35px;
    padding-top: 94px;

    font-size: 54px;
    line-height: 65px;
  }
}

.offers__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    margin: 0;
    padding: 0 45px;
    row-gap: 35px;
  }

  @media (width >= 769px) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    max-width: 1160px;
    margin: 0 auto;
    gap: 20px 42px;
  }
}

.offers__promo {
  @media (min-width: $desktop-width) {
    padding-top: 28px;
  }
}

.offers__promo-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    height: auto;
  }
}

.offers__promo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 210px;
  padding: 30px;
  padding-top: 31px;

  font-weight: 700;
  color: $white-basic;
  background-color: $banner;

  @media (min-width: $tablet-width) {
    align-items: start;
    width: 278px;
    padding: 40px 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
    padding: 40px 45px;
  }

  span {
    display: inline-block;
    width: 260px;
    max-width: 260px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    overflow-wrap: break-word;

    @media (min-width: $tablet-width) {
      width: auto;

      font-size: 18px;
      line-height: 24px;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      max-width: 190px;
    }
  }

  p:nth-child(1n) {
    max-width: 240px;
    margin: 0;
    margin-right: 1px;
    padding-bottom: 9px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    overflow-wrap: break-word;

    @media (min-width: $tablet-width) {
      max-width: 228px;
      padding-bottom: 20px;

      font-size: 24px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      max-width: 190px;

      font-size: 26px;
      line-height: 26px;
    }
  }

  p:nth-child(2n) {
    margin: 0;
    margin-right: 1px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;

    @media (min-width: $tablet-width) {
      padding-bottom: 40px;

      font-size: 70px;
      line-height: 70px;
    }
  }
}

.offers__promo-link {
  position: relative;
  margin: auto auto 0;
  padding-top: 29px;
  padding-bottom: 4px;

  font-size: 14px;
  line-height: 14px;
  color: $white-basic;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid $white-basic;
  outline: none;

  &:hover {
    opacity: 0.8;

    transition: 0.3s ease;
  }

  &:focus {
    padding: 10px;
    border: 1px solid $white-basic;
  }

  &--disabled {
    opacity: 0.5;

    pointer-events: none;

    &:focus {
      padding: 0;
      padding-top: 28px;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid $white-basic;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: auto;
    margin-right: auto;
  }
}

.offers__info {
  flex-grow: 1;
}

.offers__info-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    gap: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-top: 110px;
    gap: 30px 0;
  }
}

.offers__info-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  min-height: 100px;
  margin: 0 auto;
  padding: 20px 26px;
  text-align: center;
  color: #1c3374;
  border: 7px solid;
  border-image: linear-gradient(157deg, #d10a42 0%, #00359f 100%, #d10a42) 1;

  &:focus-within {
    padding-bottom: 14px;

    span {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 188px;
    margin: 0;
    padding: 20px 42px 20px 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    min-width: 560px;
    min-height: 174px;
    padding: 21px 20px 20px;

    &:focus-within {
      padding-bottom: 15px;

      span {
        margin-bottom: 29px;
      }
    }
  }

  p {
    max-width: 224px;
    margin: 0;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    overflow-wrap: break-word;

    @media (min-width: $tablet-width) {
      max-width: 248px;
      margin-bottom: 9px;

      font-size: 26px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      max-width: 560px;
    }
  }

  span {
    display: inline-block;
    max-width: 224px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    overflow-wrap: break-word;

    @media (min-width: $tablet-width) {
      max-width: 248px;
      margin: 0;

      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      max-width: 560px;
      margin-bottom: 40px;
    }
  }
}

.offers__info-link {
  margin: 0 auto;
  padding-right: 1px;
  padding-bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #1c3374;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #74819c;
  outline: none;

  @media (min-width: $tablet-width) {
    margin: auto auto 0 0;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }

  &:hover {
    opacity: 0.8;

    transition: 0.3s ease;
  }

  &:focus {
    padding: 10px;
    border: 1px solid #1c3374;
  }

  &--disabled {
    opacity: 0.3;

    pointer-events: none;

    &:focus {
      padding: 0;
      padding-top: 28px;
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid #74819c;
    }
  }
}

.offers__picture {
  width: 320px;
  height: 360px;
  margin: 0;
  background-color: $dark;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    height: 460px;
  }
}

.offers__picture-img {
  width: 320px;
  height: 360px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    right: -2px;

    width: 280px;
    height: 460px;
  }
}
