.price {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }
}

.price img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.price__title {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;

    font-size: 24px;
  }
}

.price__title br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__text,
.price__offer {
  margin: 0;

  text-align: center;
}

.price__text {
  margin-bottom: 20px;

  font-size: 8px;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;

    font-size: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;

    font-size: 20px;
  }
}

.price__offer {
  margin-bottom: 20px;

  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;

    font-size: 20px;
  }
}

.price__offer br:first-child {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.price__offer span {
  color: $color-red;
}

.price__table {
  margin-bottom: 20px;

  font-size: 9px;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;

    font-size: 16px;
    line-height: 16px;
  }
}

.price__table tr:first-child {
  font-weight: 700;
  font-size: 9px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.price__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px 20px;
  padding: 10px 65px;

  font-weight: 700;
  font-size: 12px;
  color: $color-grey-bg;
  text-transform: uppercase;

  background-color: $color-red;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    margin: 0 218px 40px;
    padding: 13px 75px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 496px 80px;
    padding: 11px 68px;

    font-size: 22px;
  }
}
