$ff-montserrat: "Montserrat", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;

$color-text: #101010;
$color-red: #F02C38;
$color-green: #1E552C;
$color-grey-card: #EBEBEB;
$color-grey-bg: #FEFEFE;
