$ff-alumni: "AlumniSans", "Arial", sans-serif;
$ff-roboto: "Roboto-Condensed", "Arial", sans-serif;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;
$white-basic: #ffffff;
$white-extra: #f8f9fc;
$dark: #102654;
$text-extra: #103aae;
$dark-footer: #030a1a;
$banner: #ed0233;
$error: #ff121f;
